 <div class="card w-100 p-3" >
        
        <div class="card-body border border-dark ">
          <h5 class="card-title d-flex justify-content-between text-dark" style="background-color: aquamarine ;padding: 4px">Create Post</h5>
            <div class="form-outline " style="padding: 1em">
                <label class="form-label text-dark w-100" for="typeText" style="padding: 4px">Title</label>
                <input type="text" id="typeText" class="form-control" />
            </div>
        
            <div class="form-group " style="padding: 1em">
                <label for="exampleFormControlTextarea2" class="text-dark w-100" style="padding: 4px">Content</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>

            <div class="card-body d-flex justify-content-around"style="padding-bottom: 1px;">
                <a href="#" class="btn btn-primary w-75">Create</a>
            </div>
        </div>

    </div>