<!-- Login Screen -->
    <div class="card w-100 p-3" >
        
        <div class="card-body border border-dark ">
          <h5 class="card-title d-flex justify-content-between text-dark" style="background-color: aquamarine ;padding: 4px">Login</h5>
          <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control" />
            <label class="form-label" for="typeEmail">Email input</label>
          </div>
          <div class="form-outline">
            <input type="password" id="typePassword" class="form-control" />
            <label class="form-label" for="typePassword">Password input</label>
          </div>
        </div>
        
   
        <form class="login-form card-body d-flex justify-content-around">
          <button  class="btn btn-primary w-75 "type="submit">Login</button>
        </form>
        <div class="card-body">
            <a href="/signup" class="card-link">Sign Up Instead</a>
        </div>

        
    </div>

    

    <script src="/javascript/login.js"></script>